doctype

html
  head
    title The DO
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='css/style.css' rel='stylesheet')

  body
    div.wrapper
      div.main
        div.header
          div.flag
            img(src="img/the-do-logo.png")
        div.email-body
          
          p 
            | hiya hiya

    script(src='http://localhost:35729/livereload.js')
