/*
Error: Undefined variable: "$primaryfont".
        on line 8 of /Users/psinco/Sites/email-thedo/components/sass/base/_base.scss
        from line 13 of /Users/psinco/Sites/email-thedo/components/sass/base/_index.scss
        from line 17 of /Users/psinco/Sites/email-thedo/components/sass/style.scss

3: @import 'compass';
4: @import 'normalize';
5: @import 'susy';
6: 
7: @include border-box-sizing;
8: 
9: // ==========================================================================
10: // $Utilities
11: // ==========================================================================
12: @import "utilities/index"; // Variables, mixins, grid-system, etc.
13: 

Backtrace:
/Users/psinco/Sites/email-thedo/components/sass/base/_base.scss:8
/Users/psinco/Sites/email-thedo/components/sass/base/_index.scss:13
/Users/psinco/Sites/email-thedo/components/sass/style.scss:17
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/psinco/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/psinco/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/psinco/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/psinco/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/psinco/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/psinco/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/psinco/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/psinco/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/psinco/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/psinco/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/psinco/.rvm/gems/ruby-2.1.2/bin/compass:23:in `load'
/Users/psinco/.rvm/gems/ruby-2.1.2/bin/compass:23:in `<main>'
/Users/psinco/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/psinco/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$primaryfont\".\A         on line 8 of /Users/psinco/Sites/email-thedo/components/sass/base/_base.scss\A         from line 13 of /Users/psinco/Sites/email-thedo/components/sass/base/_index.scss\A         from line 17 of /Users/psinco/Sites/email-thedo/components/sass/style.scss\A \A 3: @import 'compass';\A 4: @import 'normalize';\A 5: @import 'susy';\A 6: \A 7: @include border-box-sizing;\A 8: \A 9: // ==========================================================================\A 10: // $Utilities\A 11: // ==========================================================================\A 12: @import \"utilities/index\"; // Variables, mixins, grid-system, etc.\A 13: "; }
