html {
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

body {
  font-family: $primaryfont;
  /*background-color: $extralightgray;*/
}

a {
  color: $linkcolor;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1em;
  line-height: $bodylineheight;
  color: $verydark;
}

h1 {
  font-family: $primaryfont;
  font-weight: 800;
  color: $verydark;
}

ul, ol {
  /*list-style: none;*/
  list-style-position: inside;
  margin-top: 0;
  padding-left: 0;
}

img {
  /*max-width: 100%;*/
  height: auto;
}
 
strong {
  font-weight: 600;
  color: $primarycolor;
}
